.row-productScreen{
    height: auto;
    width: auto;
    text-align: center;

    width: 100%;
    border: 1px solid red;
}

ul {
    list-style-type: none;
}

.success{
    color: #20a020;
}

.error{
    color: #a02020
}